<p id="notice"><%= notice %></p>

<p>
  <b>Yarn:</b>
  <%= @message.yarn %>
</p>

<p>
  <b>Person:</b>
  <%= @message.person %>
</p>

<p>
  <b>Subject:</b>
  <%= @message.subject %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
